/* -------------------- IMPORTED FONTS -------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');
/*-------------------- CSS RESET ---------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* -------------------- ROOT VARIABLES --------------------------------------- */

:root {
    font-family: "Montserrat", serif;
    font-size: 16px;
    --black: #0D0D0D;
    --white: #ffffff;
    --whiteish: #F2F2F2;
    --teal: #7ABFBF;
    --teal-fade: rgba(122, 191, 191, .5);
    --orange: #EB5428;
}

/* --------------------GLOBAL STYLES (mobile first/small) --------------------*/

html {
    background-color: var(--teal-fade);
}
body {
    width: 414px;
    min-width: 414px;
    display: grid;
    grid-template-areas: 
        "header"
        "title"
        "print"
        "aside"
        "social"
        "footer";
    background-color: var(--whiteish);
    margin: 0 auto;
    line-height: 1.25em;
}
main {
    width: 414px;
}
header {
    grid-area: header;
    display: grid;
    grid-template-areas: 
        "nav"
        "search";
        width: 414px;
}
aside {
    grid-area: aside;
    background-color: var(--teal);
}

h1, h2, h3 {
    font-family: "Bebas Neue", serif; 
}
h1 {
    font-size: 40px;
    text-align: center;
}
h2 {
    font-size: 30px;
    text-align: center;
}
h3 {
    font-size: 25px;
}
nav a, nav span, menu li, #social li {
    font-family: "Bebas Neue", serif;
    font-size: 20px;
}
p, dd, li, nav, input {
    font-family: "Montserrat", serif;
    font-size: 16px;
}
p, #ingredients, #recipe {
    padding: 10px;
}
dt{
    font-family: "Montserrat", serif;
    font-size: 16px;
    font-weight: 700;
}
nav {
    grid-area: nav;
    min-width: 414px;
    background-color: #ffffff;
    box-shadow: 0px 3px 3px #bbb;
    position: fixed;
    top: 0;
    z-index:5;
    display: grid;
    grid-template-areas: 
        "hamberger logo signup";
}
nav ul {
    grid-area: hamberger;
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
    max-height: 0;
}
nav li img {
    display: none;
}
nav li a {
    display: block;
    padding: 20px;
    text-decoration: none;
}
nav label {
    cursor: pointer;
    display: inline-block;
    user-select: none;
    position: relative;
    bottom: 5px;
    left: 30px;
}
nav span {
    display: block;
    position: relative;
}
nav label svg {
    display: block;
}
label span:before, label span:after {
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
}
nav input {
    display: none;
}
nav input:checked ~ ul {
    max-height: 550px;
}
nav h2 {
    visibility: hidden;
    height: 1px;
    width: 1px;
}
#logo {
    grid-area: logo;
    display: block;
    position:absolute;
    place-content: center;
    background-color: var(--orange);
}
#sign-in {
    grid-area: signup;
}
#star {
    stroke: var(--white);
    fill: var(--white);
}
#star-filled {
    stroke: var(--white);
    fill: var(--orange);
}
form {
    grid-area: search;
    position: relative;
    display: grid;
    grid-template-columns: 1fr auto;
    width: 75%;
    margin: 0 auto;
    top: 100px;
}
form input {
    border: solid 3px var(--orange);
}
form button {
    background-color: var(--orange);
    border: solid 3px var(--orange);
}
#intro {
    grid-area: intro;
}
#intro h1 {
    grid-area: title;
    padding: 25px;
}
#intro menu {
    grid-area: print;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: var(--orange);
    list-style: none;
}
#intro img {
    width: 100%
}
#directions {
    margin-top: 20px;
    margin-left: 30px;
}
#directions li {
    list-style: decimal;
    padding: 10px;
}
aside {
    padding: 10px;
}
#social {
    grid-area: social;

}
footer {
    grid-area: footer;
    background-color: var(--white);
}
footer p {
    font-family: "Bebas Neue", serif;
    font-size: 20px;
    text-align: center;
    line-height: 0;
}
footer img {
    width: 300px;
    margin: 0 auto;
}
/*-------------------- MEDIA QUERY (medium) --------------------------------*/

/*-------------------- MEDIA QUERY (large) ------------------------------------*/

/*-------------------- MEDIA QUERY (xl) ---------------------------------------*/
