/* -------------------- IMPORTED FONTS -------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');
/*-------------------- CSS RESET ---------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* -------------------- ROOT VARIABLES --------------------------------------- */

:root {
    font-family: "Montserrat", serif;
    font-size: 16px;
    --black: #0D0D0D;
    --white: #ffffff;
    --whiteish: #F2F2F2;
    --teal: #7ABFBF;
    --teal-fade: rgba(122, 191, 191, .5);
    --orange: #EB5428;
}

/* --------------------GLOBAL STYLES (mobile first/small) --------------------*/

html {
    background-color: var(--teal-fade);
}
body {
    width: 414px;
    min-width: 414px;
    display: grid;
    grid-template-areas: 
        "header"
        "intro"
        "print"
        "aside"
        "social"
        "footer";
    background-color: var(--whiteish);
    margin: 0 auto;
    line-height: 1.25em;
}
main, footer {
    width: 414px;
    position: relative;
    top: 115px;
}
header {
    grid-area: header;
    display: grid;
    grid-template-areas: 
        "nav"
        "search";
    width: 414px;
}
h1, h2, h3 {
    font-family: "Bebas Neue", serif; 
}
h1 {
    font-size: 40px;
    text-align: center;
}
h2 {
    font-size: 30px;
    text-align: center;
}
h3 {
    font-size: 25px;
}
nav a, nav span, menu li, #social li {
    font-family: "Bebas Neue", serif;
    font-size: 20px;
}
p, dd, li, nav, input {
    font-family: "Montserrat", serif;
    font-size: 16px;
}
#ingredients, #details, #intro p {
    padding: 10px;
}
dt{
    font-family: "Montserrat", serif;
    font-size: 16px;
    font-weight: 700;
}
/* ----------------------------------------------------- nav settings */
nav {
    grid-area: nav;
    min-width: 414px;
    background-color: #ffffff;
    box-shadow: 0px 3px 3px #bbb;
    position: fixed;
    top: 0;
    z-index:5;
    display: flex;
    flex-direction: row;
}
nav ul {
    grid-area: hamberger;
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
    max-height: 0;
}
nav li img {
    display: none;
}
nav li a {
    grid-area: menupic;
    display: block;
    padding: 20px;
    text-decoration: none;
    text-align: center;
}
nav label {
    cursor: pointer;
    display: inline-block;
    user-select: none;
    position: relative;
    bottom: 5px;
    left: 30px;
}
nav span {
    display: block;
    position: relative;
}
nav label svg {
    display: block;
}
label span:before, label span:after {
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
}
nav input {
    display: none;
}
nav input:checked ~ ul {
    max-height: 550px;
}
nav h2 {
    visibility: hidden;
    height: 1px;
    width: 1px;
}
#sign-in {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    right: 0;
    color: var(--black);
}
#logo {
    background-color: var(--orange);
    margin: 0 auto;
    position: absolute;
    justify-items: center;
}
/* ----------------------------------------------------- rating svg */
#star {
    stroke: var(--white);
    fill: var(--white);
}
#star-filled {
    stroke: var(--white);
    fill: var(--orange);
}
/* ----------------------------------------------------- search bar */
form {
    grid-area: search;
    position: relative;
    display: grid;
    grid-template-columns: 1fr auto;
    width: 75%;
    margin: 0 auto;
    top: 100px;
}
form input {
    border: solid 3px var(--orange);
}
form button {
    background-color: var(--orange);
    border: solid 3px var(--orange);
}
/* ----------------------------------------------------- first section  */
#intro {
    grid-area: intro;
}
#intro h1 {
    grid-area: title;
    padding: 25px;
}
#intro menu {
    grid-area: print;
    color: var(--orange);
    list-style: none;
}
#intro img {
    width: 100%
}
#details h2 {
    padding-bottom: 15px;
}
#details dt, #details dd {
    display: inline;
    padding: 5px;
}
#ingredients li {
    list-style: square;
    padding: 6px;
    margin-left: 20px;
}
#directions {
    margin-top: 20px;
}
#directions h2, #ingredients h2{
    padding-bottom: 10px;
}
#directions li {
    list-style: decimal;
    padding: 10px;
    margin-left: 20px;
}
/* ----------------------------------------------------- ratings section  */
aside {
    padding: 0 10px;
    grid-area: aside;
    background-color: var(--teal);
}
aside h2 {
    margin-bottom: 1em;
    padding-top: 15px;
}
aside section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "pic name name"
    "pic text text"
    "pic rating .";
    column-gap: 1em;
    line-height: 1;
    margin: 2em 0;
}
aside section:last-of-type {
    padding-bottom: 10px;
}
aside section h3 {
    grid-area: name;
    margin-bottom: 5px;
}
aside section img {
    grid-area: pic;
    width: 100%;
}
aside section p {
    grid-area: text;
}
aside section .rating{
    grid-area: rating;
    display: grid;
    grid-template-columns: repeat(5 1fr);
    position: relative;
    top: 5px;
}
.rating > p {
    font-weight: 700;
    grid-column: 1 / 6;
    grid-row: 1 / 1;
}
.rating .icon{
    max-width: 24px;
    max-height: 24px;
    padding: 0 1em;
}
.rating > .icon {
    position: relative;
    left: -1em;
}
/* ----------------------------------------------------- connect & footer */

#social {
    grid-area: social;
    color: var(--orange);
}
#social h1 {
    visibility: hidden;
}
#social ul, #intro menu {
    display: flex;
    justify-content: space-evenly;
    padding: 1em 0;
}
#social li, #intro menu li{
    display: grid;
    text-align: center;
}
#social li svg, #intro menu li svg{
    grid-row: 1 / 1;
    margin: 0 auto;
}
footer {
    grid-area: footer;
    background-color: var(--white);
}
footer p {
    font-family: "Bebas Neue", serif;
    font-size: 20px;
    text-align: center;
    line-height: 1;
}
footer img {
    width: 50%;
    margin: 0 auto;
}
footer #copyright {
    display: grid;
}
#copyright img {
    grid-row: 1 / 1;
    padding-bottom: 1em;
}
/*-------------------- MEDIA QUERY (medium) --------------------------------*/

@media screen and (min-width: 768px) {
    body {
        min-width: 768px;
    }
    main, footer, nav{
        width: 768px;
    }
    header {
        grid-template-areas: 
        "logo search signup"
        "nav";
        width: 100%;
    }
    #intro div{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
    }
    #intro menu{
        background-color:  rgba(242, 242, 242, .75);
        z-index: 3;
        grid-row: 1 / 1;
        grid-column: 1 / 1;
    }
    #intro img {
        grid-row: -1 / 1;
        grid-column: 1 / 1;
    }
    #intro h1 {
        text-align: left;
    }
    #details {
        text-align: center;
    }
    #recipe {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 15px;
    }
    #recipe #details {
        grid-column: 1 / 4;
    }
    #recipe #directions {
        grid-column: 2 / 4;
    }
    aside{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    aside h2 {
        grid-column: 1 / 3;
    }
    .rating {
        display: flex;
        flex-direction: row;
    }
    footer {
        display: flex;
        flex-direction: row-reverse;
    }
    #copyright {
        flex-basis: 1;
        width: 50%;
        padding: 30px 0;
    }
    #social {
        flex-grow: 2;
    }
}
/*-------------------- MEDIA QUERY (large) ------------------------------------*/

@media screen and (min-width: 1280px) {
    
}
